h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42;
    text-align: center;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30;
    text-align: center;
}
.chart-container {
    display: flex;
}
.chart {
    width: 50%; 
    border: 1px solid #000000; 
    padding: 10px; 
}
